body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
nav {
    background-color: #330033;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

.logo img:hover {
    transform: scale(1.2);
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 2em;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        margin: 1em 0;
    }

    .menu-icon {
        display: block;
    }
}

.show-menu {
    display: flex;
}